@import 'utils.scss';

@mixin flex_props($justify:true) {
  display: flex;
  align-items: center;

  @if
    ($justify) {
    justify-content: center;
  }
}

.card-snip {
  width: 14rem;

  .card-small {
    @include flex_props(false);

    justify-content: space-between;
    margin: 1rem 0;
    padding: 0.5rem;
    background: var(--small-card-bg);
    border-radius: 5px;
    color: var(--small-card-color);
    cursor: pointer;

    & > * {
      pointer-events: none;
    }

    &:hover {
      background: var(--primary_bgcolor2);
    }

    .right-row,
    .left-row {
      @include flex_props();
    }
  }
}
