@import 'utils.scss';

.header-popped {
  width: 100%;
  font-size: 2rem !important;
}

h3 {
  font-size: 1.4rem !important;
  margin-top: 2rem;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  font-family: $secondary_font !important;

  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 3px;
    width: 100%;
    background: $secondary_bgcolor;
  }
}