@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Teko&family=Montserrat&family=Niconne&display=swap');

$primary_bgcolor: #131722;
$primary_bgcolor2: #0c0f1b;
$primary_bgcolor_tint: linear-gradient(45deg, #131722b0, #131722bf);
$secondary_bgcolor: #ed215d;
$primary_color: #fff;
$primary_font: 'Cormorant Infant', serif;
$secondary_font: 'Teko', sans-serif;
$secondary_font_sub: 'Niconne', cursive;
